@import "variables";

.sectionTwo {
    width: 100%;
    height: 180vh;
    min-width: 375px;
    display: grid;
    grid-template: 25% 50% 25% / 100%;
    .heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        hr {
            width: 40%;
            margin-bottom: 3%;
        }
        h2 {
            color: $btnBorder;
            font-family: $headings;
            font-size: 3rem;
        }
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            span {
                margin-bottom: 3%;
            }
            h4 {
                font-family: $headings;
                font-weight: bolder;
                font-size: 1.5rem;
                margin-bottom: 3%;
            }
            p {
                text-align: center;
                color: $text-general-color;
                padding: 0 10%;
                font-family: $general;
                margin-bottom: 10%;
                font-weight: bold;
            }
        }
    }
    .banner {
        position: relative;
        width: 90%;
        height: 95%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $primary-color;
        z-index: 2;
        h2 {
            width: 100%;
            color: $headings-color;
            font-family: $headings;
            font-size: 3rem;
            text-align: center;
            margin-bottom: 5%;
            z-index: 2;
        }
        a {
            text-decoration: none;
            font-family: $general;
            color: $headings-color;
            text-transform: uppercase;
            border: 1px solid $headings-color;
            padding: 2% 6%;
            z-index: 2;
        }
        a:hover{
            color: $primary-color;
            background-color: $headings-color;
        }
        .pattern-how-we-work-mobile{
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
        }
        .pattern-how-we-work-desk{
            display: none;
        }
    }

    @media (min-width: 480px) {
        grid-template: 33.3% 33.3% 33.3% / 100%;
        height: 100vh;
        min-width: 680px;
        .container {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
        .banner{
            height: 80%;
            padding: 3% 2%;
            h2{
                margin-bottom: 3%;
            }
            a {
                padding: 1% 3%;
            }
            .pattern-how-we-work-mobile{
              width: 30%;
              height: 100%;
               
            }
        }
    }

    @media (min-width: 768px) {
        grid-template: 33.3% 33.3% 33.3% / 100%;
        height: 100vh;
        min-width: 900px;
        .container {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
        .banner{
            height: 80%;
            padding: 3% 2%;
            h2{
                margin-bottom: 3%;
            }
            a {
                padding: 1% 3%;
            }
        }
    }
    @media(min-width: 1024px){
        min-width: 1200px;
        padding: 0 8%;

        .heading {
            align-items: flex-start;
            justify-content: center;
            hr {
                width: 12%;
            }
        }
        .banner{
            width: 100%;
            padding: 1% 0%;
            .pattern-how-we-work-mobile{
                width: 20%;

            }
        }   
    }

    @media(min-width: 1440px){
        min-width: 1490px;
        .banner {
            width: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 0% 7%;
            h2 {
                width: 50%;
                margin-bottom: 0;
                text-align: start;
            }
            .pattern-how-we-work-mobile{
                display: none;
            }
            .pattern-how-we-work-desk{
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 1;
                height: 100%;

            }
        } 
    }
}
