*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

@import "header";
@import "sectionOne";
@import "sectionTwo";
@import "sectionThree";
@import "variables";

.attribution{
    width: 100%;
    min-width: 375px;
    text-align: center;
    font-family: $general;
    font-weight: bold;
    color: $btnBorder;
    background-color: $back-footer-color;
    padding: 1.5% 0;
    @media(min-width: 480px){
        min-width: 680px;

    }
}